.chooseFileButton {
    position: relative;
    overflow: hidden;
    margin: 5px;
}
.chooseFileButton input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

.uploadButton {
    margin: 5px;
}

.rowSpacing {
    margin: 20px;
}

.mainDiv {
    padding-top: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}